.container {
	max-width: 1600px;
	padding: 0 200px;
	margin: 0 auto;
}

.header__menu-nav {
	display: grid;
	grid-template-columns: 2fr 3fr 3fr;
	gap: 24px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 60px;

	& .header__menu-list {
		display: flex;
		align-items: center;
		justify-self: flex-end;
		column-gap: 30px;

		& .header__menu-link {
			@include link;
		}
	}
}