@font-face {
	font-family: interL;
	src: url('/fonts/Inter-Light.woff2') format('.woff2');
}

@font-face {
	font-family: interR;
	src: url('/fonts/Inter-Regular.woff2') format('.woff2');
}

@font-face {
	font-family: interM;
	src: url('/fonts/Inter-Medium.woff2') format('.woff2');
}

@font-face {
	font-family: interB;
	src: url('/fonts/Inter-Bold.woff2') format('.woff2');
}