:root {
	--text-color: #5E5E5E;
	--main-gray-color: #8D8D8D;
	--dark-color: #121212;
	--light-gray-color: #F5F5F5;

	--ui-black-color: #121212;
	--ui-brown-color: #743717;
	--ui-yellow-color: #FFD600;
	--ui-green-color: #BED7BD;

	--error-color: #F00101;

	--font-family-m: interM, sans-serif;
	--font-family-l: interL, sans-serif;
	--font-family-r: interR, sans-serif;
	--font-family-b: interB, sans-serif;
}